{% extends "core/base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <span>New payment record</span>
    </div>
    <div class="card-body">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            {{ form.date.errors }}
            {{ form.amount.errors }}
        </div>
        {% endif %}

        <form method="post" class="form-inline">{% csrf_token %}

            <div class="form-group">
                <label for="{{ form.date.id_for_label }}">Date:</label>&nbsp;
                <input type="text" name="date" required id="id_date" class="form-control" data-toggle="datepicker"/>&nbsp;
            </div>

            <div class="form-group">
                <label for="{{ form.amount.id_for_label }}">Amount:</label>&nbsp;
                <input type="number" name="amount" step="0.1" required id="id_amount" class="form-control"/>&nbsp;
            </div>

            <input type="submit" class="btn btn-primary" value="Save">&nbsp;
            <a href="{% url 'student-list' %}" class="btn btn-success">Cancel</a>

        </form>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script>
    $().datepicker({
        format: 'yyyy-mm-dd'
    });

    $('[data-toggle="datepicker"]').datepicker();
</script>
{% endblock %}

