{% extends "core/base.html" %}

{% block content %}


<div class="row">

    <div class="col-md-6">

        <div class="card">
            <div class="card-header">
                <span>Student details <i class="fas fa-user"></i></span>
            </div>
            <div class="card-body">

                <h5>{{ object }}</h5>
                <p>Surname: {{ object.surname }}</p>
                <p>Forename: {{ object.forename }}</p>

                <p>
                    <a href="{% url 'student-update' object.id %}" class="btn btn-primary">Update record <i class="fas fa-edit"></i></a>
                    <a href="{% url 'student-delete' object.id %}" class="btn btn-danger">Delete record</a>
                </p>

            </div>
        </div>

    </div>

    <div class="col-md-6">

        <div class="card">
            <div class="card-header">
                <span>Student payments <i class="fas fa-money-bill-wave"></i></span>
            </div>
            <div class="card-body">

                <table class="table table-hover table-sm">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Amount</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for payment in object.payment_list.all|dictsort:"date" %}

                    <tr>
                        <td>{{ payment.date|date:"Y-m-d" }}</td>
                        <td>{{ payment.amount }}</td>
                        <td><a href="{% url 'payment-delete' payment.id %}" class="btn btn-danger">Delete record</a></td>
                    </tr>

                    {% endfor %}

                    </tbody>
                </table>

                <p><a href="{% url 'payment-create' %}?student={{ object.id }}" class="btn btn-primary">Create new
                    payment</a>
                </p>

            </div>
        </div>
    </div>

</div>

{% endblock %}
