{% extends "core/base.html" %}

{% block content %}

<div class="card">
    <div class="card-header">
        <span>Student records <i class="fas fa-user"></i></span>
    </div>
    <div class="card-body">

        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th>Surname</th>
                <th>Forename</th>
            </tr>
            </thead>
            <tbody>
            {% for student in object_list %}
            <tr>
                <td><a href="{{ student.get_absolute_url }}"></i>&nbsp;{{ student.surname }}</a></td>
                <td>{{ student.forename }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <p><a href="{% url 'student-create' %}" class="btn btn-primary">Create new student record</a></p>

    </div>
</div>
{% endblock %}
