{% extends "core/base.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <span>Student record</span>
    </div>
    <div class="card-body">
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            {{ form.date.errors }}
            {{ form.amount.errors }}
        </div>
        {% endif %}

        <form method="post" class="form-inline">{% csrf_token %}

            <div class="form-group">
                <label for="id_forename">Forename:</label>&nbsp;
                <input type="text" name="forename" maxlength="64" required id="id_forename" class="form-control" value="{{ object.forename }}"/>&nbsp;
            </div>

            <div class="form-group">
                <label for="id_surname">Surname:</label>&nbsp;
                <input type="text" name="surname" maxlength="64" required id="id_surname" class="form-control" value="{{ object.surname }}"/>&nbsp;
            </div>

            <input type="submit" class="btn btn-primary" value="Save">&nbsp;
            <a href="{% url 'student-list' %}" class="btn btn-success">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}
