{% extends "core/base.html" %}

{% block content %}

<div class="card">
    <div class="card-header">
        <span>Student details</span>
    </div>
    <div class="card-body">

        <form method="post">{% csrf_token %}
            <p>Are you sure you want to delete "{{ object }}"?</p>
            <input type="submit" value="Confirm" class="btn btn-danger">
            <a href="{{ object.get_absolute_url }}" class="btn btn-success">Cancel</a>
        </form>


    </div>
</div>

{% endblock %}
